<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="EntityFramework_Version.Properties.Settings.QLNhaSachConnectionString" connectionString="Data Source=THANG\SQLEXPRESS;Initial Catalog=QLNhaSach;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="QLNhaSachEntities" connectionString="metadata=&quot;res://*/DB Layer.QLNhaSach.csdl|res://*/DB Layer.QLNhaSach.ssdl|res://*/DB Layer.QLNhaSach.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=THANG\SQLEXPRESS;initial catalog=QLNhaSach;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyBanHangEntities" connectionString="metadata=&quot;res://*/DB Layer.QLNhaSach.csdl|res://*/DB Layer.QLNhaSach.ssdl|res://*/DB Layer.QLNhaSach.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=THANG\SQLEXPRESS;initial catalog=QuanLyBanHang;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLNhaSachEntities1" connectionString="metadata=&quot;res://*/DB Layer.QLNhaSach.csdl|res://*/DB Layer.QLNhaSach.ssdl|res://*/DB Layer.QLNhaSach.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=THANG\SQLEXPRESS;initial catalog=QLNhaSach;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>